// Hero
#wrapper-static-hero {
	height: calc(60vh - 54px);
	display: flex;
	align-items: center;
	justify-content: center;

	.row-flex {
		max-width: 100%;
	    text-align: center;

	    h1 {
	    	font-size: 8rem;
	    }
	}
}
